<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estoque</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Estoque</p>

  <div id="container">
  <ion-list>
    <ion-button id="d" routerLink="/produtos" color="danger" shape="round" >Produtos</ion-button>
    <!-- <ion-button routerLink="/compra-produtos" color="danger" shape="round"  >Compra</ion-button>
    <ion-button routerLink="/venda-produtos" color="danger" shape="round"  >Venda</ion-button> -->
    <ion-button id="f" routerLink="/historico-produtos" color="danger" shape="round"  >Histórico</ion-button>
  </ion-list>
  </div>
</ion-content>
